# LEAP VARS (AI service)
# Get API key - https://docs.tryleap.ai/authentication
LEAP_API_KEY=your-api-key
## Generate a random secret
LEAP_WEBHOOK_SECRET=your-webhook-secret
# Get Leap Workflow ID - https://docs.workflows.tryleap.ai/reference/Workflow%20Runs/run_workflow
LEAP_WORKFLOW_ID=your-workflow-id

# With vercel deploy supabase env vars are auto generated!
# Configure auth magic link & redirect urls > https://github.com/leap-ai/headshots-starter#5-magic-link-auth-supabase
# Locally get Supabase details from your project settings > API - https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

# VERCEL BLOB VARS (Image storage service)
BLOB_READ_WRITE_TOKEN=your-blob-read-write-token

# RESEND VARS (Email service)
RESEND_API_KEY=your-resend-api-key

# STRIPE VARS (Payment service)
STRIPE_SECRET_KEY=your-stripe-secret-key
STRIPE_WEBHOOK_SECRET=your-stripe-webhook-secret
STRIPE_PRICE_ID_ONE_CREDIT=your-stripe-price-id-one-credit
STRIPE_PRICE_ID_THREE_CREDITS=your-stripe-price-id-three-credit
STRIPE_PRICE_ID_FIVE_CREDITS=your-stripe-price-id-five-credit
NEXT_PUBLIC_STRIPE_IS_ENABLED=false # set to true to enable Stripe payments

# DEPLOYMENT
DEPLOYMENT_PROVIDER=vercel # or replit
VERCEL_URL=your-vercel-url # eg. headshots-starter.vercel.app to catch webhooks from Leap. Use ngrok locally (example: 0aaf-204-11-230-50.ngrok-free.app)